/*Background Colour of the website*/
body
{
	background-color: rgb(221, 216, 184);
	background-image: url("Images/Background_Image.jpg");
	background-size: cover;
	background-attachment: fixed; /*Creates a parallax effect*/
}

/*General text and header formatting*/
h1
{
	font-family: georgia, serif;
	font-size: 50pt;
}

h2 /*Formatting for Header 2s, which are used as headers for content divisions*/
{
	font-family: georgia, serif;
	text-align: center;
	margin-top: 0;
	padding-top: 2%;
	font-size: 30pt;
	background-color: rgb(109, 198, 242);
	width: 100%;
} 

h3
{
	font-family: georgia, serif;
	text-align: center;
	font-size: 24pt;
}

h4
{
	font-family: georgia, serif;
	text-align: center;
	font-size: 18pt;
}

li
{
	font-family: verdana, sans-serif;
	font-size: 14pt;
}
	
p
{
	text-align: justify;
	font-family: verdana, sans-serif;
	font-size: 14pt;
	color: black;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 1%
}

/*Captions for images are italicized to differentiate them from regular text*/
.Caption
{
	font-size: 12pt;
	font-style: italic;
}

/*Used to align different divisions side by side*/
.Flex_Container
{
	display: flex;
}

/*General formatting for all*/
.Information
{
	background-color: rgb(239, 247, 218);
	border-style: solid;
	border-width: 3px;
}

/*Formatting for images within a column of text*/
.In_Text_Image
{
	display: block;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	padding-bottom: 0;
	width: 80%;
	margin: auto;
}

/*Formatting for general lists in content divisions*/
.List
{
	display: table;
	margin-left: 5%;
}

/*Formatting to create two columns of information within one division*/
.Column1
{
	width: 46.5%;
	margin-left: 2%;
}

.Column2
{
	width: 46.5%;
	margin-left: 3%;
}
/*Formatting to create a navigation bar*/
.Navigation_Bar ul
{
	list-style-type: none; /*Removes bullet points*/
	margin: 0;
	left: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(54, 50, 42);
	position: fixed;
	top: 0;
	width: 100%; /*Makes navigation bar the full length of the page*/
}

.Navigation_Bar a
{
	/*Aligns links to the left of the navigation block*/
	float: left;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none; /*Removes the underlining of links*/
	color: white;
	font-size: 28px;
}

/*Formatting for when the user hovers over a link on the navigation bar*/
.Navigation_Bar a:hover
{
	background-color: white;
	color: rgb(54, 50, 42);
}

/*Formatting that differentiates the current page from other links in the navigation bar*/
.Navigation_Bar a.active
{
	background-color: rgb(109, 198, 242);
	color: white;
}

/*Formatting for the logo of the website placed in the navigation bar*/
.Navigation_Bar img
{
	float: right;
	margin-right: 2%;
}

#Navigation_Bar_Logo_Illustration
{
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	width: 3%;
}

/*Formatting for the banner*/

.Main_Banner
{
	margin-top: 0;
	background-image: url("Images/Background.png"); /*Uses the listed image as the background image for the banner division*/
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 600px;
	color: white;
	padding: 0;
	padding-top: 3%;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}

/*Formatting for banner title*/
.Banner_Text
{
	text-align: center;
	color: white;
	padding-top: 200px
}

/*Formatting for the div containing the banner image credit*/
.Banner_Credit_Div
{
	display: block;
	width: 20%;
	margin-left: 80%;
	margin-top: 200px;
}

.Banner_Credit
{
	font-size: 12pt;
	font-style: italic;
	color: black;
}

/*To align divisions vertically, I created a enclosing division that would have the content divisions within it. Formatting for the larger enclosing division*/
#Vertical_Align
{
	margin-top: 2%;
	margin-left: 2%;
	width: 30%;
}

/*Formatting for table of contents*/
#Table_of_Contents
{
	width: 100%;
	margin-left: 0%;
	padding-bottom: 2%;
}

/*Formatting for division containing image of artist's impression of the SARS-CoV-2 virus*/
#COVID-19_Render_Div
{
	width: 100%;
	margin-left: 0%;
	padding: 0;
	margin-top: 8%;
	text-align: center;
}

#COVID-19_Render_Div p
{
	padding-top: 1%
}

#COVID-19_Render
{
	width: 98%;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}

/*Formatting for information divisions and images enclosed within them*/
#Introduction
{
	margin-top: 2%;
	width: 61%;
	margin-left: 5%;
}

#Symptoms
{
	margin-top: 3%;
	width: 96%;
	margin-left: auto;
	margin-right: auto;
}

#Symptom_Illustration
{
	width: 80%;
	border-style: solid;
	border-width: 3px;
	margin-left: 7%;
}

#Preventative_Measures
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 96%;
	margin-top: 2%;
}

#Variants
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 96%;
	margin-top: 2%;
}

#Politicization
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 96%;
	margin-top: 2%;
}

#NZ_Convoy
{
	width: 40%;
}

#COVID-19_Impact
{
	margin-top: 2%;
	margin-left: 2%;
	width: 60%;
}

#COVID-19_Flags
{
	margin-top: 3%;
	height: 80%;
	width: 33%;	
	margin-left: 2%;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}

#COVID-19_Flags_Illustration
{
	margin-left: 0;	
	width: 98.5%;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}

/*Formatting for citations*/
.Citations
{
	width: 96%;
	margin: auto;
	margin-top: 2%;
}

.Citations_List
{
	color: black;
	display: table;
	margin: auto;
}

.Citations_List li
{
	margin-top: 1%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
}

/*Formatting for validator links on the main page*/
.Validator_Links
{
	width: 96%;
	margin: auto;
	margin-top: 2%;
}

.Validator_Links p
{
	text-align: center;
}

#Validators_Div
{
	display: flex;
	width: 100%;
	justify-content: center;
	margin: auto;
}

#Validator_Images
{
	width: 100%;
}

/*Formatting for validators on the bibliography page*/
#Bibliography_Validator
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
